.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

/*Mão*/

.hand-enter-active,
.hand-leave-active {
    transition: opacity .5s;
}

.hand-enter,
.hand-leave-to {
    opacity: 0;
}

.hand-enter-active .wrapper,
.hand-leave-active .wrapper {
    transition: transform .8s cubic-bezier(.08,.74,.34,1);
    transform-origin: bottom center;
}

.hand-enter .wrapper,
.hand-leave-to .wrapper {
    transform: rotateX(90deg);
}

.hand-enter-active .card,
.hand-leave-active .card {
    transition: margin .8s cubic-bezier(.08,.74,.34,1);
}

.hand-enter .card,
.hand-leave-to .card {
    margin: 0 -100px;
}

/*Cartas*/

.card{
    transition: all .3s;
}

.card-move{
    transition: transform .3s;
}

.card-enter{
    opacity: 0;
    /*Desliza para a direita*/
    transform: scale(.8) translateX(100px);
}

.card-leave-active{
    /*Momentos diferentes para saída da transição*/
    transition: all 1s, opacity .5s .5s;
    /*Manter sempre na posição horizontal*/
    position: absolute !important;
    z-index: 10;
    pointer-events: none;
}

card-leave-to{
    opacity: 0;
    /*Zoom da carta ao subir*/
    transform: translateX(-106px) translateY(-300px) scale(1.5);
}

/*Zoom*/

.zoom-enter-active,
.zoom-leave-active{
    transition: opacity .3s, transform .3s;
}

.zoom-enter,
.zoom-leave-to{
    opacity: 0;
    transform: scale(.7);
}
